In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('netflix_titles.csv')

In [34]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [35]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [36]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [37]:
df.shape

(8807, 12)

In [38]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [39]:
df.nunique()

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

### 1. Identify and Handle Missing Values

Missing values are common in real-world datasets and can arise from various reasons such as data entry errors, incomplete information, or merging datasets from different sources. It is important to identify and handle these missing values to ensure the quality and reliability of data analysis.

**Steps:**
- **Identify Missing Values:** Use functions like `.isnull()` or `.isna()` to detect missing values in the dataset.
- **Handle Missing Values:** Depending on the context and importance of the data, missing values can be handled by:
  - Removing rows or columns with missing values using `.dropna()`
  - Filling missing values with appropriate substitutes, such as the mean, median, mode, or a specific value using `.fillna()`
  - Using advanced techniques like interpolation or predictive modeling for imputation

Proper handling of missing values helps prevent errors in analysis and ensures that the results are accurate and meaningful.

In [40]:
# Check for missing values
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [41]:
# Drop rows with missing values
df = df.dropna()

### 2. Remove Duplicate Rows

Duplicate rows can occur in a dataset due to repeated data entry, merging datasets, or data collection errors. Removing duplicates is important to ensure that each record in the dataset is unique, which helps maintain the integrity and accuracy of data analysis.

**Steps:**
- **Identify Duplicates:** Use the `.duplicated()` function to find duplicate rows in the dataset.
- **Remove Duplicates:** Use the `.drop_duplicates()` function to remove duplicate rows, keeping only the first occurrence by default.

By removing duplicate rows, we prevent skewed analysis and ensure that statistical calculations and insights are based on unique data points.

In [42]:
df = df.drop_duplicates()

In [43]:
df.shape

(5332, 12)

### 3. Standardize Text Values

Text data can often be inconsistent due to differences in capitalization, extra spaces, spelling variations, or the use of synonyms. Standardizing text values ensures uniformity and improves the quality of data analysis, especially when grouping or filtering data.

**Steps:**
- **Convert to Lowercase:** Use string methods to convert all text to lowercase for consistency.
- **Remove Extra Spaces:** Strip leading and trailing spaces to avoid mismatches.
- **Unify Categories:** Replace variations or synonyms with a single standardized value (e.g., "United States" and "USA" both become "USA").
- **Consistent Formatting:** Apply consistent formatting to columns such as names, countries, and categories.

Standardizing text values helps prevent errors during analysis and ensures that similar values are treated as the same category.

In [44]:
u= df['country'].unique()
print(u)

['United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia'
 'United Kingdom' 'United States' 'Germany, Czech Republic' 'India'
 'United States, India, France' 'China, Canada, United States'
 'South Africa, United States, Japan' 'Japan' 'Nigeria'
 'Spain, United States' 'United Kingdom, United States'
 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United States, Canada' 'Germany, United States'
 'South Africa, United States' 'United States, Mexico'
 'United States, Italy, France, Japan'
 'United States, Italy, Romania, United Kingdom'
 'Australia, United States' 'Argentina, Venezuela'
 'United States, United Kingdom, Canada' 'China, Hong Kong' 'Canada'
 'Hong Kong' 'United States, China, Hong Kong' 'Italy, United States'
 'United States, Germany' 'France' 'United Kingdom, Canada, United States'
 'United States, United Kingdom' 'India, Nepal'
 'New Zealand, Australia, France, United States' 'Italy, Brazil, Greece'
 'Spain' 'Colombia' 'United States, Japan' 'Mexico'
 'Switzerland, United Kingdom, Australia' 'South Africa'
 'Canada, United States' 'Argentina' 'Argentina, Spain'
 'United States, Nigeria' 'Taiwan' 'Bulgaria, United States'
 'Spain, United Kingdom, United States' 'United States, China'
 'United States, France' 'Spain, France, United Kingdom, United States'
 ', France, Algeria' 'Poland'
 'France, Israel, Germany, United States, United Kingdom' 'Australia'
 'New Zealand' 'Saudi Arabia' 'Thailand' 'Indonesia' 'Italy'
 'United States, Switzerland' 'Hong Kong, Canada, United States'
 'Kuwait, United States' 'France, Canada, United States, Spain'
 'France, Netherlands, Singapore' 'Egypt' 'Malaysia'
 'South Korea, Czech Republic' 'South Korea' 'Vietnam'
 'United Kingdom, Belgium' 'United Kingdom, Australia, United States'
 'France, Japan, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, United States, France, Italy'
 'United States, Germany, Canada'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, Germany, Hungary'
 'United States, New Zealand' 'Lebanon' 'Brazil' 'Romania'
 'Lebanon, Syria' 'Philippines' 'Germany' 'United States, India'
 'Philippines, Singapore, Indonesia' 'China, United States, Canada'
 'Lebanon, United Arab Emirates' 'Canada, United States, Denmark'
 'United Arab Emirates' 'Mexico, France, Colombia' 'Sweden'
 'Germany, United States, France' 'United States, Bulgaria'
 'United Kingdom, France, Germany, United States'
 'Syria, France, Lebanon, Qatar' 'Belgium, Netherlands' 'Mauritius'
 'Canada, South Africa' 'Austria' 'Mexico, Brazil' 'France, United States'
 'China' 'Turkey' 'Germany, France'
 'United Kingdom, France, Spain, United States' 'United States, Australia'
 'United States, United Kingdom, France' 'United States, Russia'
 'United States, United Kingdom, New Zealand'
 'Canada, Nigeria, United States'
 'France, United States, United Kingdom, Canada' 'India, United Kingdom'
 'Canada, United States, Mexico' 'United Kingdom, Germany, United States'
 'Czech Republic, United Kingdom, United States' 'China, Taiwan'
 'Cameroon' 'Netherlands' 'Japan, United States' 'Egypt, Saudi Arabia'
 'United Kingdom, France, Poland, Germany, United States'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'China, United Kingdom' 'United Kingdom, South Africa, France'
 'Ireland, United Kingdom, France, Germany' 'Russia, United States'
 'United Kingdom, United States, France' 'United Kingdom,'
 'United States, India, United Kingdom' 'Kenya' 'Spain, Argentina'
 'India, United Kingdom, France, Qatar' 'Belgium, France'
 'Argentina, Chile' 'United States, Thailand' 'Chile, Brazil'
 'Canada, United States, United Kingdom'
 'United States, Cambodia, Romania' 'Bangladesh'
 'Spain, Belgium, United States'
 'United Kingdom, United States, Australia' 'Portugal, United States'
 'Portugal, Spain' 'India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Spain, United States' 'Hungary, United States'
 'United States, South Korea' 'Canada, United States, Cayman Islands'
 'India, France' 'France, Canada' 'Canada, Hungary, United States'
 'Norway' 'Canada, United Kingdom, United States'
 'United Kingdom, Germany, France, United States' 'France, Algeria'
 'Philippines, Canada, United Kingdom, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Singapore' 'France, Belgium' 'Iceland' 'United States, France, Serbia'
 'United States, Italy' 'Hong Kong, United States'
 'United States, Malta, France, United Kingdom'
 'United States, China, Canada' 'Spain, France, Canada'
 'United States, China, Colombia' 'Spain, Thailand, United States'
 'Mexico, Spain' 'Ireland, Luxembourg, Belgium' 'China, United States'
 'Canada, Belgium' 'Canada, United Kingdom'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'France, Belgium, Italy' 'Lebanon, United States, United Arab Emirates'
 'Lebanon, France' 'France, Lebanon' 'France, Lebanon, United Kingdom'
 'France, Norway, Lebanon, Belgium' 'Lebanon, Canada, France'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'United States, United Kingdom, India' 'Indonesia, Netherlands'
 'Turkey, South Korea' 'Russia' 'Serbia, United States' 'Namibia'
 'United Kingdom, Kenya'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'United States, France, Canada, Belgium' 'Germany, China, United Kingdom'
 'Hong Kong, Iceland, United States'
 'United States, Belgium, Canada, France' 'South Africa, Angola'
 'United States, Philippines'
 'United States, United Kingdom, Canada, China'
 'United States, Canada, United Kingdom' 'Uruguay' 'Turkey, United States'
 'Peru, Germany, Norway' 'Mozambique' 'Brazil, France'
 'China, Spain, South Korea, United States' 'Spain, Germany'
 'Hong Kong, China' 'France, Belgium, Luxembourg, Cambodia,' 'Belgium'
 'Indonesia, United Kingdom' 'Switzerland, France, Belgium, United States'
 'Ghana' 'United Kingdom, Nigeria' 'Chile' 'France, Egypt' 'Egypt, France'
 'France, Brazil, Spain, Belgium' 'Egypt, Algeria'
 'Canada, South Korea, United States' 'Nigeria, United Kingdom'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'Saudi Arabia, United Arab Emirates' 'Zimbabwe'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'Romania, United States' 'Mexico, United States' 'Kuwait'
 'Canada, Nigeria'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'United Kingdom, Germany, United States, France'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'Turkey, India' 'Italy, Turkey' 'United Kingdom, United States, Japan'
 'France, Belgium, United States' 'Uruguay, Argentina'
 'United States, United Kingdom, Japan' 'United Kingdom, Italy'
 'Ireland, United Kingdom'
 'United Kingdom, France, Belgium, Canada, United States'
 'Netherlands, Germany, Denmark, United Kingdom' 'Hungary'
 'South Korea, United States' 'Romania, France, Switzerland, Germany'
 'France, Malta, United States'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United States, Norway, Canada' 'Poland, United States'
 'Kenya, United States' 'France, South Korea, Japan, United States'
 'Taiwan, Malaysia' 'Uruguay, Argentina, Germany, Spain'
 'United States, United Kingdom, France, Germany, Japan'
 'United States, France, Japan' 'United Kingdom, France, United States'
 'Spain, France, United States' 'Indonesia, South Korea, Singapore'
 'United States, Spain' 'Argentina, Uruguay, Serbia'
 'Israel, United States' 'France, Japan'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'India, Germany' 'India, United Kingdom, Canada, United States'
 'Philippines, United States' 'Romania, Bulgaria, Hungary'
 'Uruguay, Guatemala' 'France, Senegal, Belgium' 'Canada, Norway'
 'United Kingdom, France' 'United States, Chile'
 'United Kingdom, Japan, United States' 'Spain, United Kingdom'
 'United States, South Korea, Japan' 'United Kingdom, Hungary, Australia'
 'Italy, Belgium' 'Switzerland' 'Singapore, Malaysia'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'South Africa, Nigeria' 'Spain, France' 'Pakistan'
 'Denmark, Brazil, France, Portugal, Sweden' 'India, Turkey'
 'Philippines, Singapore' 'Taiwan, China, France, United States'
 'Colombia, Peru, United Kingdom' 'Thailand, China, United States'
 'Argentina, United States' 'Uruguay, Spain, Mexico'
 'France, Luxembourg, Canada' 'Chile, Argentina' 'Denmark' 'Italy, France'
 'Canada, Germany' 'Pakistan, United Arab Emirates' 'Ghana, United States'
 'Mexico, Finland' 'United Arab Emirates, United Kingdom, India'
 'Netherlands, Belgium' 'United States, Taiwan' 'United Kingdom, Malawi'
 'Paraguay, Argentina' 'United Kingdom, Russia, United States'
 'India, Pakistan' 'Indonesia, Singapore' 'Spain, Belgium'
 'Iceland, Sweden, Belgium' 'Uruguay, Argentina, Spain'
 'United Kingdom, Ireland, United States'
 'Canada, Germany, France, United States' 'United Kingdom, Japan'
 'Norway, Denmark, Netherlands, Sweden' 'Hong Kong, China, United States'
 'Ireland, Canada' 'Italy, Switzerland, France, Germany'
 'Mexico, Netherlands' 'France, Iran, United States'
 'United Kingdom, India' 'Russia, Poland, Serbia' 'Spain, Portugal' 'Peru'
 'Mexico, Argentina'
 'United Kingdom, Canada, United States, Cayman Islands'
 'Indonesia, United States'
 'United States, Israel, United Kingdom, Canada'
 'Norway, Iceland, United States' 'United Kingdom, India, United States'
 'India, Australia' 'Belgium, United Kingdom, United States'
 'India, Germany, Austria' 'Spain, Mexico' 'China, Japan'
 'Argentina, France' 'China, United States, United Kingdom'
 'France, Luxembourg, United States' 'China, United States, Australia'
 'Colombia, Mexico' 'United States, Canada, Ireland' 'Israel'
 'Chile, Peru' 'Canada, Japan, United States'
 'United Kingdom, Canada, United States, Germany'
 'Italy, Switzerland, Albania, Poland' 'Cambodia'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'Spain, Colombia' 'Bulgaria'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'United Kingdom, Spain, United States, Germany' 'Philippines, Qatar'
 'Netherlands, Belgium, Germany, Jordan'
 'United Arab Emirates, United States' 'United Kingdom, Germany'
 'United Kingdom, Canada' 'Soviet Union, India'
 'Australia, United Arab Emirates' 'Czech Republic, United States'
 'South Korea, China, United States' 'India, Soviet Union' 'India, Mexico'
 'Georgia, Germany, France' 'United Arab Emirates, Romania'
 'Australia, Canada' 'India, Malaysia' 'Germany, Jordan, Netherlands'
 'Turkey, France, Germany, Poland' 'Norway, Germany' 'France, Morocco'
 'Cambodia, United States'
 'United Kingdom, Italy, Israel, Peru, United States'
 'Argentina, Uruguay, Spain, France'
 'United Kingdom, France, United States, Belgium'
 'France, Canada, China, Cambodia'
 'United Kingdom, France, Belgium, United States' 'Ireland'
 'Chile, France' 'France, United Kingdom, India'
 'Czech Republic, Slovakia' 'Singapore, France' 'Spain, Switzerland'
 'South Africa, United States, Germany' 'Spain, Italy, Argentina'
 'Chile, Spain, Argentina, Germany' 'Austria, Czech Republic'
 'Lebanon, Qatar' 'United Kingdom, Jordan, Qatar, Iran'
 'France, South Korea, Japan' 'Israel, Germany, France'
 'United States, Hungary' 'France, Qatar'
 'United Kingdom, Germany, Canada' 'Ireland, South Africa'
 'Chile, United States, France' 'Belgium, France, Netherlands'
 'United States, Bermuda, Ecuador' 'United Kingdom, Egypt, United States'
 'United States, France, United Kingdom' 'Spain, Mexico, France'
 'United States, South Africa' 'Hong Kong, China, Singapore'
 'South Africa, China, United States' 'Denmark, France, Poland'
 'New Zealand, United Kingdom' 'Netherlands, Denmark, South Africa'
 'Iran, France' 'United Kingdom, United States, France, Germany'
 'Australia, France' 'Ireland, United Kingdom, United States'
 'Spain, Italy' 'United Kingdom, France, Germany' 'Canada, Luxembourg'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium' 'Bulgaria, United States, Spain, Canada'
 'Sweden, Netherlands' 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Singapore, United States' 'India, Iran' 'France, Belgium, Spain'
 'Denmark, Sweden, Israel, United States' 'United States, Iceland'
 'United Kingdom, Russia' 'United States, Israel, Italy, South Africa'
 'South Korea, Japan' 'United Kingdom, Pakistan'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'Germany, Sri Lanka' 'United States, Sweden'
 'United States, India, Bangladesh' 'United States, Canada, France'
 'Brazil, France, Germany' 'United States, United Kingdom, Australia'
 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'United Kingdom, Canada, Italy' 'Taiwan, Hong Kong, United States, China'
 'Germany, Australia' 'United Kingdom, Poland, United States'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'South Africa, United States, New Zealand, Canada'
 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'France, China, Japan, United States' 'Germany, Belgium'
 'Pakistan, Norway, United States'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Canada, Spain, France' 'United States, Indonesia' 'Spain, France, Italy'
 'United Arab Emirates, United States, United Kingdom'
 'United States, Brazil' 'United States, France, Mexico'
 'United States, Nicaragua' 'France, United Kingdom, United States'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'Italy, Canada, France' 'Thailand, United States'
 'United Kingdom, Denmark, Canada, Croatia'
 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'United States, Ireland' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'United States, Spain, Germany' 'India, Japan'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'Germany, United Kingdom, United States'
 'South Africa, Germany, Netherlands, France'
 'Ireland, United States, France' 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar'
 'Netherlands, Belgium, United Kingdom, United States'
 'France, Belgium, China, United States' 'United States, Chile, Israel'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'United Kingdom, South Korea'
 'United States, Greece, Brazil' 'Germany, United Kingdom'
 'Argentina, Chile, Peru' 'Poland, West Germany' 'Canada, Spain'
 'United States, Cambodia' 'United States, Greece'
 'Norway, United Kingdom, France, Ireland' 'United Kingdom, Poland'
 'Pakistan, United States' 'Israel, Sweden, Germany, Netherlands'
 'Switzerland, France' 'Chile, Argentina, France, Spain, United States'
 'United States, India, South Korea, China'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'Brazil, India, China, United States'
 'Denmark, France, United States, Sweden' 'Australia, Iraq'
 'China, Morocco, Hong Kong' 'Canada, United States, Germany'
 'United Kingdom, Thailand' 'France, Germany, Czech Republic, Belgium'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Portugal, France, Poland, United States' 'India, Switzerland'
 'Canada, India' 'United States, Morocco' 'Singapore, Japan, France'
 'Canada, Mexico, Germany, South Africa'
 'United Kingdom, United States, Canada'
 'Germany, France, United States, Canada, United Kingdom' 'India, Canada'
 'Ireland, Canada, United Kingdom, United States'
 'United States, Germany, Australia' 'Australia, France, Ireland'
 'Australia, India' 'United States, United Kingdom, Canada, Japan'
 'Sweden, United Kingdom, Finland' 'Hong Kong, Taiwan'
 'United States, United Kingdom, Spain, South Korea' 'Guatemala'
 'United States, Germany, United Kingdom, Australia'
 'Italy, France, Switzerland' 'Canada, France, United States'
 'Switzerland, United States' 'Thailand, Canada, United States'
 'China, Hong Kong, United States' 'United Kingdom, New Zealand'
 'Czech Republic, United Kingdom, France'
 'Australia, United Kingdom, Canada' 'Jamaica, United States'
 'Australia, United Kingdom'
 'United Kingdom, France, Canada, Belgium, United States'
 'Denmark, United Kingdom, Sweden' 'United States, Hong Kong'
 'Argentina, France, United States, Germany, Qatar'
 'United States, Germany, United Kingdom'
 'United States, Germany, United Kingdom, Italy'
 'United States, New Zealand, United Kingdom' 'Finland, United States'
 'Spain, France, Uruguay' 'France, Canada, United States'
 'United States, Canada, China'
 'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India'
 'United States, Czech Republic, United Kingdom' 'Israel, Germany'
 'Mexico, France'
 'Israel, Germany, Poland, Luxembourg, Belgium, France, United States'
 'Austria, United States' 'United Kingdom, Lithuania'
 'United States, Greece, United Kingdom'
 'United Kingdom, China, United States, India'
 'United States, Sweden, Norway' 'United Kingdom, United States, Morocco'
 'United States, United Kingdom, Morocco' 'Spain, Canada, United States'
 'United States, India, United Arab Emirates'
 'United Kingdom, Canada, France, United States'
 'Belgium, Ireland, Netherlands, Germany, Afghanistan'
 'France, Canada, Italy, United States, China'
 'Ireland, United Kingdom, Greece, France, Netherlands'
 'New Zealand, United States'
 'United States, Australia, South Africa, United Kingdom'
 'United States, Germany, Mexico' 'United States, Czech Republic'
 'Somalia, Kenya, Sudan, South Africa, United States'
 'United States, Canada, Japan, Panama' 'United Kingdom, Spain, Belgium'
 'Serbia, South Korea, Slovenia'
 'Denmark, United Kingdom, South Africa, Sweden, Belgium'
 'Germany, Canada, United States' 'New Zealand, United Kingdom, Australia'
 'United Kingdom, Australia, Canada, United States'
 'United Kingdom, China, United States' 'United Kingdom, Brazil, Germany'
 'Canada, United States, India, United Kingdom'
 'Switzerland, United Kingdom, United States'
 'United States, United Kingdom, Germany' 'United Kingdom, India, Sweden'
 'United States, Argentina'
 'Germany, United States, United Kingdom, Canada'
 'United States, East Germany, West Germany'
 'Egypt, Austria, United States' 'Croatia, Slovenia, Serbia, Montenegro'
 'United Arab Emirates, Jordan']

In [45]:
# Standardize 'country' column

def clean_country(country_str):
    if pd.isnull(country_str):
        return country_str
    # Split by comma, take first country, strip spaces
    first_country = country_str.split(',')[0].strip().lower()
    # Map to standard abbreviations
    country_map = {
        'united states': 'usa',
        'united kingdom': 'uk',
        'india': 'ind',
        # Add more as needed
    }
    return country_map.get(first_country, first_country)

df['country'] = df['country'].apply(clean_country)

In [46]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",usa,"September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",uk,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",usa,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...",germany,"September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",ind,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

### 4. Convert Date Formats

Dates in datasets can appear in various formats, which may cause issues during analysis or when merging data from different sources. Converting all date columns to a consistent format ensures accurate sorting, filtering, and time-based calculations.

**Steps:**
- **Identify Date Columns:** Find columns that represent dates, such as `date_added`.
- **Convert to Datetime:** Use functions like `pd.to_datetime()` to convert date strings to datetime objects.
- **Standardize Format:** Format the dates consistently (e.g., `dd-mm-yyyy`) for uniformity in presentation and analysis.

Consistent date formats help avoid confusion, make time-based analysis easier, and ensure compatibility with other systems and tools.

In [47]:
df['country'].unique()

array(['usa', 'uk', 'germany', 'ind', 'china', 'south africa', 'japan',
       'nigeria', 'spain', 'australia', 'argentina', 'canada',
       'hong kong', 'italy', 'france', 'new zealand', 'colombia',
       'mexico', 'switzerland', 'taiwan', 'bulgaria', '', 'poland',
       'saudi arabia', 'thailand', 'indonesia', 'kuwait', 'egypt',
       'malaysia', 'south korea', 'vietnam', 'lebanon', 'brazil',
       'romania', 'philippines', 'united arab emirates', 'sweden',
       'syria', 'belgium', 'mauritius', 'austria', 'turkey',
       'czech republic', 'cameroon', 'netherlands', 'ireland', 'russia',
       'kenya', 'chile', 'bangladesh', 'portugal', 'hungary', 'norway',
       'singapore', 'iceland', 'serbia', 'namibia', 'uruguay', 'peru',
       'mozambique', 'ghana', 'zimbabwe', 'israel', 'pakistan', 'denmark',
       'paraguay', 'cambodia', 'soviet union', 'georgia', 'iran',
       'finland', 'venezuela', 'slovenia', 'guatemala', 'jamaica',
       'somalia', 'croatia'], dtype=object)

In [48]:
# Convert 'date_added' to datetime and format as dd-mm-yyyy
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['date_added'] = df['date_added'].dt.strftime('%d-%m-%Y')

In [49]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",usa,24-09-2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",uk,24-09-2021,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",usa,24-09-2021,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...",germany,23-09-2021,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",ind,21-09-2021,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

### 5. Rename Column Headers

Column headers in a dataset should be clean, uniform, and easy to reference in code. Inconsistent or messy column names can lead to confusion and errors during analysis. Renaming columns to follow a consistent style improves readability and usability.

**Steps:**
- **Remove Spaces:** Replace spaces with underscores or remove them entirely.
- **Consistent Capitalization:** Use a consistent capitalization style, such as capitalizing the first letter of each word.
- **Strip Extra Characters:** Remove leading/trailing spaces and unnecessary special characters.

Clean and uniform column headers make it easier to access columns programmatically and help maintain a professional and organized dataset.

In [50]:
# Rename columns: First letter uppercase, no spaces (use underscores)
df.columns = [col.strip().replace(' ', '_').title() for col in df.columns]

In [51]:
df.head()

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...",usa,24-09-2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",uk,24-09-2021,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",usa,24-09-2021,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...",germany,23-09-2021,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",ind,21-09-2021,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

### 6. Check and Fix Data Types

Ensuring that each column in the dataset has the correct data type is crucial for accurate analysis and efficient processing. Incorrect data types can lead to errors, unexpected results, or inefficient operations.

**Steps:**
- **Check Data Types:** Use functions like `.dtypes` to inspect the current data types of each column.
- **Convert Data Types:** Change columns to their appropriate types (e.g., convert date columns to `datetime`, numeric columns to `int` or `float`, and categorical columns to `category`).
- **Handle Conversion Errors:** Use parameters like `errors='coerce'` to handle invalid parsing gracefully.

Fixing data types ensures that mathematical operations, date manipulations, and analyses are performed correctly and efficiently.

In [52]:
df.dtypes

Show_Id         object
Type            object
Title           object
Director        object
Cast            object
Country         object
Date_Added      object
Release_Year     int64
Rating          object
Duration        object
Listed_In       object
Description     object
dtype: object

In [53]:
# Convert 'date_added' to datetime (if not already)
df['Date_Added'] = pd.to_datetime(df['Date_Added'], errors='coerce')

# Convert 'release_year' to integer (if not already)
df['Release_Year'] = pd.to_numeric(df['Release_Year'], errors='coerce').astype('Int64')

/var/folders/f9/g_s3p0kj35972qj0b4swxcdw0000gn/T/ipykernel_1354/1159311067.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_Added'] = pd.to_datetime(df['Date_Added'], errors='coerce')

In [54]:
df.dtypes

Show_Id                 object
Type                    object
Title                   object
Director                object
Cast                    object
Country                 object
Date_Added      datetime64[ns]
Release_Year             Int64
Rating                  object
Duration                object
Listed_In               object
Description             object
dtype: object